@import "@/scssVars.scss";

.card__status {
  margin: 0 16px;
  padding: 0px 8px;
  border-radius: 4px;
  color: $font-color-secondary;
}

.card__status.brown {
  background: $background-color-bronze;
}

.card__status.blue {
  background: $background-color-primary;
}

.card__status.gray {
  background: $font-color-disabled;
}

.card__status.red {
  background: $font-color-delete;
}